<nav class="navbar navbar-default" role="navigation">
  <div class="row">
    <div class="navbar-header">
      <div class="col-xs-6 col-sm-5 col-sm-offset-1">
        <div class="navbar-title">Alex &</div>
        <div class="navbar-title">&nbsp;Alyson</div>
      </div>
      <div class="col-xs-6 col-sm-5">
        <div class="navbar-date">August 13, 2016</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="navbar" class="navbar-collapse my-nav-bar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/rsvp.html">RSVP</a></li>
        <li><a href="/wedding_party.html">Wedding Party</a></li>
        <li><a href="/event.html">Event</a></li>
        <li><a href="/accommodations.html">Accommodations</a></li>
        <li><a href="/registry.html">Registry</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>