{% include head.html %}
<body>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row">
                <div class="navbar-header">
                  <div class="col-xs-6 col-xs-offset-0 col-sm-5 col-sm-offset-1">
                    <div class="navbar-title">Alex & Alyson</div>
                  </div>
                  <div class="col-xs-6 col-sm-5">
                    <div class="navbar-date">August 13, 2016</div>
                  </div>
                </div>
            </div>
        </nav>

        {{ content }}
    </div>
</body>
</html>