{% include head.html %}
<body>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
          <div class="row">
            <div class="navbar-header">
              <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                <div class="navbar-title">Alex &</div>
                <div class="navbar-title">&nbsp;Alyson</div>
              </div>
              <div class="col-xs-6 col-sm-5">
                <div class="navbar-date">August 13, 2016</div>
              </div>
            </div>
          </div>
        </nav>

        {{ content }}
    </div>
</body>
</html>